<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="login-box">
					<div id="login-box-holder">
						<div class="row">
							<div class="col-xs-12">
								<header id="login-header">
									<div id="login-logo">
										 
									</div>
								</header>
								{{logoutMessage}}
								<div id="login-box-inner" style="background-color:#CA9595;">																
									<form [formGroup]="loginForm" (submit)="login(loginForm.value)"
										class="form-horizontal">
										<div class="input-group" style="display: table;">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											    <input formControlName="userName" id="userName" class="form-control" placeholder="Username" value="gowri"/>                                                                                           
										</div>
                                        <div>
                                            <control-messages [control] = "loginForm.controls.userName" style="color: red;"></control-messages>
                                        </div>

										<div class="input-group" style="display: table;">
											<span class="input-group-addon"><i class="fa fa-key"></i></span>
											    <input type="password" formControlName="password" id="password" class="form-control"
												placeholder="Password" value="gowri"/>
                                                
										</div>
                                        <div>
                                            <control-messages [control] = "loginForm.controls.password" style="color: red;"></control-messages>
                                        </div>
										 <div id="remember-me-wrapper">
											<div class="row">
												<div class="col-xs-6">
													<div class="checkbox-nice">
														<input type="checkbox" id="remember-me" checked="checked" />
														<label for="remember-me"> Remember me </label>
													</div>
												</div>
												<a href="#"
													id="login-forget-link" class="col-xs-6 checkbox-nice" style="color: red;">
													Forgot password? </a>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<input type="submit" [disabled]="!loginForm.valid" class="btn btn-success col-xs-12" value="Login">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


